$def with (form, result)
<html>
<head>
<title>Spotify Party Playlist</title>
<style type="text/css">
#box {
border-width: 1px; 
border-style: dashed; 
width: 500px;
margin-left:auto;
margin-right:auto;
padding: 10px;
background-color:#FFFFFF;
}

#song {
border-width: 1px; 
border-style: dashed; 
width: 500;
margin-left:auto;
margin-right:auto;
padding: 10px;
background-color:#FFFFFF;
}
#text { 1.5em Times; }
#bold { font:bold 1.5em Times; }
#italic { font:italic 1.5em Times; }
#big { font:1.8em Times; }
</style>
</head>
<body background="../images/back.png">
	<div id="box">		
	<p><img src="../images/logo.jpg" alt="Logo"></p>
	</div>
	<br>
	<div id="box">		
	<form name="main" method="post"> 
	$if not form.valid: <p class="error">Error! Try again!</p>
	$:form.render()
	<input type="submit" />    
	</form>
	</div>
	<br>
	$if result:		
			$for elem in result:
				<div id="song">
				<table width="100%">
					<tr >
						<td width="5%  valign="middle">$loop.index</td>
					<td width="600">
						<span id="bold">$elem['name']</span>
						<br>
						<span id="italic">$elem['artist']['name']</span>
					</td>
						<td width="15%  valign="middle"><a href=/add/$elem['href']><img src="../images/up.jpg"></a></td>
					</tr>
				</table>
				</div>
				<br>
</body>	
